# Core
streamlit
numpy
pandas
scipy
statsmodels
requests
textblob
pmdarima

# Machine learning / prediction
scikit-learn

# For SARIMAX / plots
matplotlib

# Backend / deployment
uvicorn
fastapi
python-multipart

# Environment variables
python-dotenv

# NLP
nltk
